@model IEnumerable<App.Models.Assignment>

@{
    ViewBag.Title = "DetailsProtocol";
    int i = 0;
}

<h2>Details @ViewBag.necessaryProtocol</h2>


<table class="table">
    <tr>
        <th>Id</th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProtocolId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (ViewBag.necessaryProtocol == item.Protocol.ProtID)
        {
            i++;
        <tr>
            <td>@i </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsible.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protocol.ProtID)
            </td>
        </tr>
        }
    }

</table>