@model App.Models.Protocol

@{
    ViewBag.Title = "EditProtocol";
}

<h2>EditProtocol</h2>

@using (Html.BeginForm())
{
    <p>
        ID <br />
        @Html.EditorFor(model => model.ProtID)
    </p>

    <p>
        Title <br />
        @Html.EditorFor(model => model.Title)
    </p>

    <p>
        Organization <br />
        @Html.DropDownListFor(model => model.OrganizationID, ViewBag.Organizations as SelectList)
    </p>

    <p>
        Date <br />
        @Html.EditorFor(model => model.DateOfSubmission)
    </p>

    <p>
        Responsible <br />
        @foreach (var r in ViewBag.Responsibles)
        {
            <input type="checkbox" name="selectedResponsibles" value="@r.Id"
                   @(Model.Responsibles.Contains(r) ? "checked=\"checked\"" : "") />@r.Name <br />
            }
    </p>

    <p>
        <input type="submit" value="Save" />
    </p>

}

<div>
    @Html.ActionLink("Back", "ProtocolsList")
</div>


