@model IEnumerable<App.Models.Assignment>

@{
    ViewBag.Title = "userAssignments";
}

<h2>userAssignments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProtocolId)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.UserAccounts.Contains(ViewBag.usr))
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       

        <td>
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Protocol.ProtID)
        </th>

    </tr>
        }
    }

</table>


