@model IEnumerable<App.Models.Responsible>

@{
    ViewBag.Title = "Index";
}


<h2>Responsibles</h2>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Add Responsible person", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>